<!DOCTYPE html>
<html>
  <head>
    <meta charset ="UTF-8">
    <meta name="viewport" content="width=device-width,intial-scale=1.0">
    <title><%= title %></title>
    <h4>RajKumar Reddy Banala-301211106</h4>
    
    <link rel='stylesheet' href='/content/app.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    
  </head>
  
    

    <body>